<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
  </head>
  <body>
    <form action="/add">
      <input type="submit" value="Add bookmark">
    </form>
    <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href=<%= bookmark[1] %> ><%= bookmark[0] %></a>
        <form class="form-inline" action="/delete_bookmark" method="post">
          <input type="hidden" name="id" value="<%= bookmark[2] %>">
          <input type="submit" value="Delete <%= bookmark[0]%>">
        </form>
        <form class="form-inline" action="/update" method="post">
          <input type="hidden" name="id" value="<%= bookmark[2]%>">
          <input type="hidden" name="title" value="<%= bookmark[0]%>">
          <input type="hidden" name="url" value="<%= bookmark[1]%>">
          <input type="submit" value="Update <%= bookmark[0]%>">
        </form>
      </li>
    <% end %>
    </ul>
  </body>
</html>
